.navbar-nav { 
    flex-direction: row;
}
.header {
    font-family: 'SamsungSharpSans'!important;
    font-size: 1rem!important;
}
.mr-auto {
    margin-left: 11%;
}

.nav-link {
    margin-left: 15px!important;
}
.secondHeader {
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'SamsungSharpSans'!important;
    text-align: center;
}

.thirdHeader {
    margin-top: 1%;
    margin-bottom: 3%;
    font-family: 'SamsungOne'!important;
    text-align: center;
    font-size: 20px;
}
.validForm {
    margin-left: 33%;
    margin-right: 33%;
    border: 1px solid black;
    padding: 2%;
}

.upImage {
    background: url("samsung_delivers-1440.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 555px;
}
.botImage {
    background: url("sams_bottom-1440.jpg");
    background-size: cover;
    height:950px;
}
.botImage2 {
    background: url("endImg.png");
    background-size: cover;
    height: 600px!important;
}

.upText1 {
    font-family: 'SamsungSharpSans'!important;
    text-align: center;
    vertical-align: middle;
    font-size: 59px;
    line-height: 200%;
    
}

.upText2 {
    font-family: 'SamsungOne700';
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}

.upText3 {
    font-family: 'SamsungOne'!important;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    max-width: 600px;
    line-height: 160%;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
    margin: 0 auto;
}
.bt1 {
    font-family: 'SamsungOne'!important;
    font-size: 16px;
    color: black;
    border-radius: 40px!important;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.bt2 {
    margin-top: 3%!important;
    margin-bottom: 2%!important;
    font-family: 'SamsungOne' !important;
    font-size: 15px;
    padding: 10px 50px;
    border-radius: 40px!important;
}
.underL {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}

.midIcon {
    font-family: samsungIcon;
    font-size: 60px!important;
    text-align: center;
}

.dot {
    width: 188px;
    height: 188px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
.lastTable {
    font-family: 'SamsungOne700';
}

.error {
    color: red;
}
@media screen and (max-width: 1024px) {
    h1{
        font-size: 39px!important;
    }
    h2{
        font-size: 35px!important;
    }
    h3{
        font-size: 23px!important;
    }
    h5{
        font-size: 18px!important;
    }
    .bt1 {
        font-size: 18px!important;
    }
    .midIcon {
        font-size: 40px!important;;
    }
    .bt2 {
        font-size: 15px!important;
    }
    .thirdHeader {
        font-size: 15px!important;
    }
    .lastTable {
        font-size: 1rem;
    }
    .botImage {
        background-size: cover;
        height:400px!important;
    }
    .botImage2 {
        height: 300px!important;
    }
    .header {
        font-size: 0.75rem!important;
    }
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 20px!important;
    }
    h2{
        font-size: 18px!important;
    }
    h3{
        font-size: 10px!important;
    }
    h5{
        font-size: 0.7rem!important;
    }
    .bt1 {
        font-size: 0.7rem!important;
    }
    .midIcon {
        font-size: 30px!important;;
    }
    .dot {
        font-size: 10px!important;
        height: 100px;
        text-align: center;
        margin: 0 auto;
    }
    .bt2 {
        font-size: 10px;
    }
    .lastTable {
        font-size: 0.7rem;
    }
    .botImage {
        background-size: cover;
        height:260px!important;
    }
    .botImage2 {
        height: 190px!important;
    }
    .header {
        font-size: 0.70rem!important;
    }
}
.icon-style{
    text-align: center;
    margin-bottom: 20px;
}
.button-style{
    text-align: center;
    padding: 5px 15px;
}
.main{
    margin-bottom: 80px !important;
}